<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Portfolio Website</title>
  <link rel="shortcut icon" type="image/png" href="./media/images.png">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel="stylesheet" href="./css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<head>
	<meta charset="UTF-8">
	<title>Harsh Gupta</title>
	<link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
	<!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
	
		<!-- LANDING PAGE -->
		<section id="home">
			<!-- OVERLAY -->
			<div class="overlay">
				<!-- PRIMARY NAVIGATION -->
				<nav role="navigation">
					<ul class="vertical-list">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About me</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#contact" >Contact Me</a></li>
					</ul>
				</nav>
				<!-- END OF PRIMARY NAVIGATION -->

				<!-- CONTAINER -->
				<div class="container">
					<h1><span class="logo">Harsh</span><small>MEAN-Stack || AI\ML Developer</small></h1>
						<ul class="social-links vertical-list">
						<li><a href="https://twitter.com/Harsh_Gupta0" class="noir twitter" target="_blank">Twitter</a></li>
						<li><a href="https://www.linkedin.com/in/harsh-gupta-88073a172/" class="noir linkedin" target="_blank">LinkedIn</a></li>
						<li><a href="https://github.com/GuptaHarsh7" class="noir freecodecamp" target="_blank">Github</a></li>
						<li><a href="./Harsh Gupta.pdf" class="noir freecodecamp" target="_blank">Github</a></li>
					</ul>
				</div>
				<!-- END OF CONTAINER -->
			</div>
			<!-- END OF OVERLAY -->
		</section>
		<!-- END OF LANDING PAGE -->


		<!-- ABOUT -->
		<section id="about">
			<!-- CONTAINER -->
			<div class="container">
				<h2>A little about me...</h2>
				<div class="row info">
					<div class="col-sm-8">
						<p>
							I'm currently studying Computer Science at LNM Institute of Information Technology, Jaipur having just completed my 2nd year. I am a web developer and a data science student. I have done real-time projects in web development and guided projects in data science. I am always looking for opportunities to prove myself and learn new things. I am a creative person who is always ready to take on new challenges. My goals in life are to work on projects that will leave an impression on the world. 
						<span class="signature">.harsh gupta</span>
					</div>

					<div class="col-md-4">
						<img src="./media/photo.jpeg" alt="Lewis Alberto Briffa" class="img-responsive img-circle">
					</div>
				</div>
				
				<div id="skill-set">
					<h3>Skills</h3>
					<ul class="vertical-list">
						<li>
							<ul class="vertical-list skills" id="web-development-skills">
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
                <li>NodeJs</li>
                <li>MongoDB</li>
                <li>Express</li>
                <li>Python</li>
							</ul>
						</li>
						<li>
							<ul class="vertical-list skills" id="automation-skills">
								<li>Artificial Intelligence</li>
                <li>Neural Networks</li>
                <li>Pandas</li>
                <li>Machine Learning</li>
							</ul>
						</li>

						<li>
							<ul class="vertical-list skills" id="misc-skills">
                <li>NumPy</li>
								<li>Scikit Learn</li>
                <li>TensorFlow</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- END OF CONTAINER -->
		</section>
		<!-- END OF ABOUT -->

		<!-- PORTFOLIO -->
		<section id="portfolio">
			
					<!-- CONTAINER -->
					<div class="container">
						<h2>Some of my work...</h2>
					</div>
					<!-- END OF CONTAINER -->
					
					<div class="container">
						<section>
								<!-- OVERLAY -->
								<div class="overlay">
									<!-- DESCRIPTION -->
									<div class="description">
										<p>
											Managed the integration of Back-end and Front-end of the website and handling the database creation and integration. Executed the work handed down efficiently and timely. Learned to work with a team.
										</p>
										
										<h6>Tools<span class="glyphicon glyphicon-cog"></span></h6>
										<ul class="tools vertical-list">
											<li>NodeJs</li>
											<li>Express</li>
											<li>MongoDB</li>
											<li>HTML</li>
											<li>CSS</li>
											<li>JavaScript</li>
										</ul>
									</div>
									<!-- END OF DESCRIPTION -->
									
									<img src="./media/image-2-Plinth.jpg" alt="Editorial Monitoring Automated Excel Screenshot">
									<h4 class="heading"><span class="glyphicon glyphicon-hand-up"></span>Plinth Tech fest Website</h4>
								</div>
								<!-- END OF OVERLAY -->
							</section>
							<!-- END OF SECTION -->

							<section>
								<!-- OVERLAY -->
								<div class="overlay">
									<!-- DESCRIPTION -->
									<div class="description">
										<p>
											Leaded the development of the website for classical physics course of LNMIIT. Maintained work efficiency and team coordination and delivered the project in Time.
										</p>
										
										<h6>Tools<span class="glyphicon glyphicon-cog"></span></h6>
										<ul class="tools vertical-list">
											<li>NodeJs</li>
											<li>Express</li>
											<li>MongoDB</li>
											<li>HTML</li>
											<li>CSS</li>
											<li>JavaScript</li>
										</ul>
									</div>
									<!-- END OF DESCRIPTION -->
									
									<img src="./media/CLP.png" alt="Editorial Monitoring Automated Excel Screenshot">
									<h4 class="heading"><span class="glyphicon glyphicon-hand-up"></span>Classical Physics Website</h4>
								</div>
								<!-- END OF OVERLAY -->
							</section>
							<!-- END OF SECTION -->
						
							<!-- SECTION -->
							<section>
								<!-- OVERLAY -->
								<div class="overlay">
									<!-- DESCRIPTION -->
									<div class="description">
										<p>
											Website made as a entry project for Plinth'20 Hackathon. It is an environmental website meant to bring people closer to environmental events around them.
										</p>
										
										<h6>Tools<span class="glyphicon glyphicon-cog"></span></h6>
										<ul class="tools vertical-list">
											<li>NodeJs</li>
											<li>Express</li>
											<li>MongoDB</li>
											<li>HTML</li>
											<li>CSS</li>
											<li>JavaScript</li>
										</ul>
									</div>
									<!-- END OF DESCRIPTION -->
									
									<img src="./media/Groot.png" alt="Quote Machine in Action">
									<h4 class="heading"><span class="glyphicon glyphicon-hand-up"></span>Groot - Plinth'20 Hackathon Website</h4>
								</div>
								<!-- END OFVERLAY -->
							</section>
							<!-- END OF SECTION -->

						<!-- COLUMN 3 -->
							<!-- SECTION -->
							<section>
								<!-- OVERLAY -->
								<div class="overlay">
									<!-- DESCRIPTION -->
									<div class="description">
										<p>
											Guided project in deep learning for predicting price of houses.
										</p>
										
										<h6>Tools<span class="glyphicon glyphicon-cog"></span></h6>
										<ul class="tools vertical-list">
											<li>AI\ML</li>
											<li>TensorFlow</li>
											<li>NumPy</li>
											<li>Pandas</li>
										</ul>
									</div>
									<!-- END OF DESCRIPTION -->
									
									<img src="./media/maxresdefault.jpg" alt="Weather Web Application Displaying the Weather for London">
									<h4 class="heading"><span class="glyphicon glyphicon-hand-up"></span>Housing Price Prediction</h4>
								</div>
								<!-- END OF OVERLAY -->
							</section>
							<!-- END OF SECTION -->
                                           
						<!-- COLUMN 2 -->
						<p>And more to come...<p>
							
					</section>
					<!-- END OF PORTFOLIO -->
					</div>

		<!-- CONTACT PAGE -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
					<h2>Get in touch...</h2>
					
					<div class="row">
						<div class="col-lg-9">
						<h3>Harsh Gupta</h3>
						<p><br>Mobile: +91-9414706258</p>
						<p><br>Email: harshgupta6641@gmail.com</p>
					</div>
					
					<div class="col-lg-9 overflow">
						<ul class="social-links vertical-list">
							<li><a href="https://twitter.com/Harsh_Gupta0" class="noir twitter" target="_blank">Twitter</a></li>
						<li><a href="https://www.linkedin.com/in/harsh-gupta-88073a172/" class="noir linkedin" target="_blank">LinkedIn</a></li>
						<li><a href="https://github.com/GuptaHarsh7" class="noir freecodecamp" target="_blank">Github</a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF CONTACT PAGE -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./js/script.js"></script>

</body>
</html>
